<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Full Regression Suite" verbose="1" >
  <test name="Single Server Regression">
    <groups>
      <run>
        <exclude name="Broken"/>
        <include name="Host"/>
        <exclude name="Structures"/>
        <exclude name="VanityURLs"/>
      </run>
    </groups>
    <classes>
      <packages>
        <package name="com.dotcms.qa.testng.*" />
      </packages>
    </classes>
  </test>
</suite>
